/* body {
    background-image: url('https: //media.istockphoto.com/id/1224500447/photo/programming-code-abstract-technology-background-of-software-developer-and-computer-script.jpg?s=612x612&w=0&k=20&c=7lQ-Y02fVso1qRZbEpZrrQ-c1Adp2eiM_1wC2-kllpg=');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} */
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
body{
    padding: 0%;
    margin: 0%;
    height: 100vh;
    background-image: url("../assets/mohammad-rahmani-oXlXu2qukGE-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-container{
    height: 20rem;
    width: 30rem;
    background-color:rgb(167, 248, 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 1000px  rgba(0 , 0 , 0 , 1);
}   
.button-1{
    height: 3rem;
    width: 10rem;   
    border-radius: 1rem;
    background-color: aqua;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
h1{
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-size: 4rem;
}
