.signin-container {
    background-color: rgb(167, 248, 5);
    box-shadow: 2px 2px 1000px rgba(0, 0, 0, 1);
}
h1 {
    margin-left: 1rem;
}
.signin-btn{
    height: 3rem;
    width: 10rem;
    border-radius: 1rem;
    background-color: aqua;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem;
}
.btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin-top: 1rem;
    color: black;
    font-size: larger;
    font-weight: 600;
    margin-left: 0.5rem;
}
.message {
    color: rgb(225, 6, 6);
}
.email {
    font-size: x-large;
    margin: 0.5rem;
}
.password{
    font-size: x-large;
    margin: 0.5rem;
}
.email input {
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}
.password input {
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}